.donations-slider {
  direction: rtl;
  position: relative;
}

/* Custom Navigation Buttons for Donations Slider */
.donations-next,
.donations-prev,
.donate-prev,
.donate-next {
  position: absolute;
  transform: translateY(-45%);
  width: 60px !important;
  height: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  cursor: pointer;
  border: none !important;
}

.donations-next,
.donate-next {
  right: 0px !important;
  background: linear-gradient(to left, white 40%, transparent) !important;
}

.donations-prev,
.donate-prev {
  left: 0px !important;
  background: linear-gradient(to right, white 40%, transparent) !important;
}

.donations-next::after,
.donations-prev::after,
.donate-prev::after,
.donate-next::after {
  font-size: 18px;
  color: black !important;
}
